{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}College Management{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <header>
    <h1>College Management System</h1>
    <nav>
  <ul>
    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li><a href="/timetable/departments/">Timetable</a></li>
    <li><a href="/location/">Locations</a></li>
    <li><a href="/scheduler/">Scheduler</a></li>
    {% if user.is_authenticated %}
      <li><form method="post" action="{% url 'logout' %}">
  {% csrf_token %}
  <button type="submit">Logout</button>
</form>
</li>
    {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
  </ul>
</nav>

  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <p>&copy; 2025 Marwadi University</p>
  </footer>
  {% if messages %}
  <ul class="messages">
  {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}

</body>
</html>
